workflow.json
{
  "id": "Js0AqeJbpN87h1at",
  "name": "Base de Conhecimento - Ingestao de Documentos",
  "active": true,
  "isArchived": false,
  "triggerCount": 1,
  "createdAt": "2026-05-21T17:19:47.636Z",
  "updatedAt": "2026-05-22T10:35:26.104Z",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "connections": {
    "Upload de Documento": {
      "main": [
        [
          {
            "node": "Inserir no Supabase pgvector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Inserir no Supabase pgvector",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Documento": {
      "ai_document": [
        [
          {
            "node": "Inserir no Supabase pgvector",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar em Chunks": {
      "ai_textSplitter": [
        [
          {
            "node": "Carregar Documento",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "formTitle": "Base de Conhecimento - Ingestao de Documentos",
        "formDescription": "Faca upload de documentos para alimentar a base de conhecimento do agente IA. Aceita PDF, DOCX, TXT, CSV. Marque TODAS as categorias que se aplicam ao documento (ex: arquivo unico que cobre varios topicos).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Documento",
              "fieldType": "file",
              "fieldName": "documento",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf,.docx,.txt,.csv",
              "requiredField": true
            },
            {
              "fieldLabel": "Categorias (marque todas que se aplicam)",
              "fieldType": "checkbox",
              "fieldName": "categoria",
              "fieldOptions": {
                "values": [
                  {
                    "option": "institucional"
                  },
                  {
                    "option": "produtos_servicos"
                  },
                  {
                    "option": "precos"
                  },
                  {
                    "option": "politicas"
                  },
                  {
                    "option": "processos"
                  },
                  {
                    "option": "faq"
                  },
                  {
                    "option": "outro"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Enviar para a Base"
        }
      },
      "id": "367f2c14-9bd4-4030-9a14-f80c7b0184c5",
      "name": "Upload de Documento",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "8780bdc0-b620-4a3c-b8ee-8c5679417e6d",
      "name": "Inserir no Supabase pgvector",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "94971213-62ed-40eb-8806-00a959b2b07b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        544
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "categorias",
                "value": "={{ Array.isArray($('Upload de Documento').item.json.categoria) ? $('Upload de Documento').item.json.categoria.join(',') : ($('Upload de Documento').item.json.categoria || 'sem_categoria') }}"
              },
              {
                "name": "fonte",
                "value": "={{ $('Upload de Documento').item.json.documento || 'desconhecido' }}"
              },
              {
                "name": "ingerido_em",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "id": "5d59d24a-90bd-4d99-80c1-fbaae4cbb55c",
      "name": "Carregar Documento",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        544
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "993c4f9d-f581-4cd6-9bee-ba6b6a2b7ad3",
      "name": "Quebrar em Chunks",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        384,
        544
      ]
    },
    {
      "parameters": {
        "content": "## Setup do Supabase (PRE-REQUISITO)\n\nAntes de rodar este workflow, execute o SQL abaixo no SQL Editor do Supabase (cria tabela documents + funcao match_documents):\n\n```sql\ncreate extension if not exists vector;\n\ncreate table if not exists documents (\n  id bigserial primary key,\n  content text,\n  metadata jsonb,\n  embedding vector(1536)\n);\n\ncreate or replace function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb default '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n) language plpgsql as $$\n#variable_conflict use_column\nbegin\n  return query\n  select id, content, metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;\n```\n\n**Credenciais necessarias no n8n:**\n- `Supabase` (Supabase API) — Host e Service Role Key (Project Settings > API)\n- `OpenAI API` — ja existente\n\n**Modelo de embeddings:** text-embedding-3-small (1536 dimensoes — bate com o schema acima).",
        "height": 200,
        "width": 680,
        "color": 5
      },
      "id": "936362e2-1a9e-4e38-8b66-ea61c36ebdac",
      "name": "Setup Supabase (SQL pre-requisito)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        -256
      ]
    },
    {
      "parameters": {
        "content": "## O que subir na base\n\n**Multi-categoria via CHECKBOX:** as categorias aparecem como checkboxes — marque TODAS as caixinhas que se aplicam ao documento (sem limite). Se um arquivo cobre varios topicos, marque varios.\n\n**Categorias disponiveis (exemplos — adapte ao seu dominio):**\n- **institucional** — historia, equipe, diferenciais, contatos, horarios\n- **produtos_servicos** — o que e oferecido (e o que NAO e)\n- **precos** — tabela de valores, politica de cobranca\n- **politicas** — regras, criterios, termos de uso\n- **processos** — fluxo de atendimento, como funciona o primeiro contato\n- **faq** — duvidas comuns\n- **outro** — qualquer outro material\n\nApos ingerido, o agente principal consulta automaticamente via tool `consultar_base_conhecimento` (semantic search — encontra o chunk certo independente da categoria).",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "e96c4d7b-a7a2-4476-8c8c-4ac4be5e5d50",
      "name": "Guia de categorias",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ]
    }
  ],
  "meta": {
    "aiBuilderAssisted": true
  },
  "description": "Workflow de ingestao da base de conhecimento. Upload de PDF/DOCX/TXT/CSV via form com CHECKBOXES de categorias (multi-select nativo), chunks com sobreposicao (200), embeddings OpenAI (1536 dim), Supabase pgvector."
}